.breadCrumbs {
  display: flex;
  border-bottom: 1px solid #caccd2;
}

.breadCrumbTab {
  margin-right: 5px;
  box-shadow: inset -1px 0px 0px #caccd2, inset 0px 1px 0px #caccd2,
    inset 1px 0px 0px #caccd2;
  border-radius: 4px 4px 0px 0px;
  padding: 9px 16px;
  cursor: pointer;
  opacity: 0.6;
}

.breadCrumbTab.selectedTab {
  opacity: 1;
  color: black;
  background-color: #fff;
}

.chartWrapper {
  background: #fff;
  box-shadow: 0px 1px 15px rgba(47, 48, 50, 0.08);
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.chartVisual {
  flex: 1;
}

.chartVisual h3 {
}

.chartRates {
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
}

.periodButtons {
  margin-bottom: 30px;
}

.periodButtons span {
  display: inline-block;
  border: 1px solid var(--grey-borders);
  border-radius: 2px 0px 0px 2px;
  padding: 5px 16px;
  font-size: 14px;
  cursor: pointer;
}

.periodButtons span:hover {
  border: 1px solid var(--accent-blue);
  color: var(--accent-blue);
  opacity: 0.6;
}

.periodButtons span.selectedButton {
  border: 1px solid var(--accent-blue);
  color: var(--accent-blue);
}

ul.chartInfoList li {
  background: var(--neutral-background);
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 2px;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  transform: scale(.4);
}
.lds-ellipsis div {
  position: absolute;
  top: 13px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(131, 129, 129);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.detailsCard {
  border-color: #E4E5E7;
}

.nftImage {
  width: 100%;
  height: 100%;
 display: block;
  
}

.nftWrapper {
  position: relative;
  width: 128px !important;
  height: 128px;
  border-radius: 6px;
  
}

.loadingWrapper {
  background: linear-gradient(312.76deg, #EFEFEF 22.7%, #DADADA 41.09%, #F2F2F2 92.17%);
  border-radius: 6px;
  transition: all .7s ease;
  color: transparent;
  padding: 10px 0 0 0;

}

.loadedWrapper {
  background: transparent;
  color: black;
  transition: all .5s ease;
  padding: 10px 0 0 0;
}


.nftWrapper.loadingWrapper, .nftWrapper.loadedWrapper {
  padding: 0;
}

.nftWrapper.loadingWrapper::before {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    content: '';
}

.trxHash {
  margin-left: 10px;
}