@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply border-red-600;
}

body {
  @apply bg-[#F7F7F9];

  --accent-blue: #235ef5;
  --grey-borders: #d9d9d9;
  --neutral-background: #f7f7f9;
  --green: #04B200;
}

.mobileOnly {
  display: none;
}

.wave {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  background: #18bd1e;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wave:after {
  z-index: -1;
  content: "";
  width: 6px;
  height: 6px;
  background: #18bd1e;
  border-radius: 50%;
  @apply animate-ping;
  animation-duration: 4s;
}

.copyTip {
  border-radius: 5px !important;
  background: rgba(0,0,0,.9);
  padding: 5px 6px !important;
}

.copy-btn:hover img {
  filter: brightness(15%);
}

.copyTip.copied {
  padding-left: 20px !important;
}

.copyTip.copied::before {
  content: "" !important;
  position: absolute !important;
  left: 12px !important;
  top: 40% !important;
  transform: translateY(-60%) !important;
  width: 18px !important;
  height: 18px !important;
  background: url("./assets/icons/check.svg") center no-repeat !important;
  background-size: cover !important;
}

.clearWrapper {
  margin-right: 20px;
  position: relative;
  display: flex;
}

.clearWrapper img {
  margin: auto 0;
}

.clearWrapper::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 1px;
  background: rgb(240, 239, 237);
  right: -12px;
  top: 0;
}

.searchIcon {
  cursor: pointer;
}

.searchIcon:hover {
  filter: brightness(86%);
}

.infoTextWrap {
  margin-left: 35px;
}

.infoTextContainer {
  padding: 10px 0 !important;
  justify-content: space-between;
}

.infoTextContainer.longCol {
  margin-left: -10px;
}

.formSuccess {
  color: #04B200;
  font-size: 12px;
}

.formFail {
  color: #c93d49;
  font-size: 12px;

}

#captchaContainer {
  margin-top: 20px;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

